<header class="container-fluid">
  <div class="row">
    <div class="col-xs-12 mobile-bar">
    </div>
  </div>
  <div class="row">
    <div class="col-xs-12 header-cnt">
      <!-- <span class="back-btn">
        <img ng-src="./images/Back.png"/>
      </span> -->
      <span class="header-txt">
        <img class="header-img" ng-src="./images/Flyto logo.png"/>
      </span>
      <!-- <span class="search-btn">
        <img ng-src="./images/search.png"/>
      </span> -->
    </div>
  </div>
</header>
