<div ng-include = "'partials/header.htm'"></div>



<div class="home-container padding-5px">
	<div class="container-fluid" infinite-scroll="loadNextPage()" infinite-scroll-distance="1">


		<md-content class="bgwhite">
			<md-tabs md-dynamic-height md-border-bottom>
				<md-tab label="One Way">
					<div class="">
						<form name="userForm" class="search-form">

							<div class="row">
						  	<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Flying_from.png" alt="">
								</div>
								<div class="col-xs-10 width78paddingleft0">
									<md-autocomplete md-no-cache="true" md-selected-item="selectedFromLocation" md-items="item in locationList"
									 md-search-text="fromSearchText" md-item-text="item.label" md-floating-label="Flying from"
									 md-selected-item-change="fromSelectedItemChange(selectedItem)">
									  <span>{{ item.label }}</span>
									</md-autocomplete>
						  	</div>
						  </div>

							<div class="row">
						  	<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Flying_from.png" alt="">
								</div>
								<div class="col-xs-10 width78paddingleft0">
									<md-autocomplete md-no-cache="true" md-selected-item="selectedToLocation" md-items="item in locationList"
									 md-search-text="toSearchText" md-item-text="item.label" md-floating-label="Flying to"
									 md-selected-item-change="toSelectedItemChange(selectedItem)">
									  <span>{{ item.label }}</span>
									</md-autocomplete>
						  	</div>
						  </div>

							<div class="row">
						  	<div class="col-xs-6">
									<div class="date-label">Departure</div>
									<md-datepicker class="date-picker" ng-model="fromDate" ng-change="fromDateChange(fromDate)"></md-datepicker>
						  	</div>
								<!-- <div class="col-xs-6">
									<div class="date-label">Arrival</div>
									<md-datepicker class="date-picker" ng-model="toDate" ng-change="fromDateChange(toDate)"></md-datepicker>
						  	</div> -->
						  </div>
							<div class="row margintop30">
								<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Traveller.png" alt="">
								</div>
						  	<div class="col-xs-10 width38paddingleft0">
									<md-button class="md-raised md-primary md-button md-ink-ripple secondary-btn" ng-click="showPrerenderedDialog()">Add Travellers</md-button>
						  	</div>
								<div class="col-xs-6 width40 trvl-count"><span ng-show="travellerCount>0">{{travellerCount}} Travellers</span></div>
						  </div>
							<div class="row margintop25">
								<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Seat.png" alt="">
								</div>
						  	<div class="col-xs-10 width78paddingleft0">
									<md-input-container class="traveller-class-cnt">
									  <md-select ng-model="travellerClass" placeholder="Traveller Class">
									    <md-option ng-value="opt" ng-repeat="opt in travellerClassList">{{ opt }}</md-option>
									  </md-select>
									</md-input-container>
						  	</div>
						  </div>

							<div class="row">
								<div class="col-xs-8 col-xs-offset-2">
										<md-button class="md-raised md-primary md-button md-ink-ripple full-width-btn" ng-click="searchFlights()">Search Flights</md-button>
								</div>
							</div>
						</form>

					</div>
				</md-tab>
				<md-tab label="Round Trip">
					<div class="">
						<form name="userForm" class="search-form">

							<div class="row">
						  	<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Flying_from.png" alt="">
								</div>
								<div class="col-xs-10 width78paddingleft0">
									<md-autocomplete md-no-cache="true" md-selected-item="selectedFromLocation" md-items="item in locationList"
									 md-search-text="fromSearchText" md-item-text="item.label" md-floating-label="Flying from"
									 md-selected-item-change="fromSelectedItemChange(selectedItem)">
									  <span>{{ item.label }}</span>
									</md-autocomplete>
						  	</div>
						  </div>

							<div class="row">
						  	<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Flying_from.png" alt="">
								</div>
								<div class="col-xs-10 width78paddingleft0">
									<md-autocomplete md-no-cache="true" md-selected-item="selectedToLocation" md-items="item in locationList"
									 md-search-text="toSearchText" md-item-text="item.label" md-floating-label="Flying to"
									 md-selected-item-change="toSelectedItemChange(selectedItem)">
									  <span>{{ item.label }}</span>
									</md-autocomplete>
						  	</div>
						  </div>

							<div class="row">
						  	<div class="col-xs-6">
									<div class="date-label">Departure</div>
									<md-datepicker class="date-picker" ng-model="fromDate" ng-change="fromDateChange(fromDate)"></md-datepicker>
						  	</div>
								<div class="col-xs-6">
									<div class="date-label">Arrival</div>
									<md-datepicker class="date-picker" ng-model="toDate" ng-change="fromDateChange(toDate)"></md-datepicker>
						  	</div>
						  </div>
							<div class="row margintop30">
								<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Traveller.png" alt="">
								</div>
						  	<div class="col-xs-10 width38paddingleft0">
									<md-button class="md-raised md-primary md-button md-ink-ripple secondary-btn" ng-click="showPrerenderedDialog()">Add Travellers</md-button>
						  	</div>
								<div class="col-xs-6 width40 trvl-count"><span ng-show="travellerCount>0">{{travellerCount}} Travellers</span></div>
						  </div>
							<div class="row margintop25">
								<div class="col-xs-2 width12">
										<img class="from-img" src="./images/Seat.png" alt="">
								</div>
						  	<div class="col-xs-10 width78paddingleft0">
									<md-input-container class="traveller-class-cnt">
									  <md-select ng-model="travellerClass" placeholder="Traveller Class">
									    <md-option ng-value="opt" ng-repeat="opt in travellerClassList">{{ opt }}</md-option>
									  </md-select>
									</md-input-container>
						  	</div>
						  </div>

							<div class="row">
								<div class="col-xs-8 col-xs-offset-2">
										<md-button class="md-raised md-primary md-button md-ink-ripple full-width-btn" ng-click="searchFlights()">Search Flights</md-button>
								</div>
							</div>
						</form>

					</div>
				</md-tab>
			</md-tabs>
		</md-content>


		<!-- <div class="">
			<form name="userForm" class="search-form">

				<div class="row">
			  	<div class="col-xs-2 width12">
							<img class="from-img" src="./images/Flying_from.png" alt="">
					</div>
					<div class="col-xs-10 width78paddingleft0">
						<md-autocomplete md-no-cache="true" md-selected-item="selectedFromLocation" md-items="item in locationList"
						 md-search-text="fromSearchText" md-item-text="item.label" md-floating-label="Flying from"
						 md-selected-item-change="fromSelectedItemChange(selectedItem)">
						  <span>{{ item.label }}</span>
						</md-autocomplete>
			  	</div>
			  </div>

				<div class="row">
			  	<div class="col-xs-2 width12">
							<img class="from-img" src="../images/Flying_from.png" alt="">
					</div>
					<div class="col-xs-10 width78paddingleft0">
						<md-autocomplete md-no-cache="true" md-selected-item="selectedToLocation" md-items="item in locationList"
						 md-search-text="toSearchText" md-item-text="item.label" md-floating-label="Flying to"
						 md-selected-item-change="toSelectedItemChange(selectedItem)">
						  <span>{{ item.label }}</span>
						</md-autocomplete>
			  	</div>
			  </div>

				<div class="row">
			  	<div class="col-xs-6">
						<div class="date-label">Departure</div>
						<md-datepicker class="date-picker" ng-model="fromDate" ng-change="fromDateChange(fromDate)"></md-datepicker>
			  	</div>
					<div class="col-xs-6">
						<div class="date-label">Arrival</div>
						<md-datepicker class="date-picker" ng-model="toDate" ng-change="fromDateChange(toDate)"></md-datepicker>
			  	</div>
			  </div>
				<div class="row margintop30">
					<div class="col-xs-2 width12">
							<img class="from-img" src="./images/Traveller.png" alt="">
					</div>
			  	<div class="col-xs-10 width38paddingleft0">
						<md-button class="md-raised md-primary md-button md-ink-ripple secondary-btn" ng-click="showPrerenderedDialog()">Add Travellers</md-button>
			  	</div>
					<div class="col-xs-6 width40 trvl-count"><span ng-show="travellerCount>0">{{travellerCount}} Travellers</span></div>
			  </div>
				<div class="row margintop25">
					<div class="col-xs-2 width12">
							<img class="from-img" src="./images/Seat.png" alt="">
					</div>
			  	<div class="col-xs-10 width78paddingleft0">
						<md-input-container class="traveller-class-cnt">
						  <md-select ng-model="travellerClass" placeholder="Traveller Class">
						    <md-option ng-value="opt" ng-repeat="opt in travellerClassList">{{ opt }}</md-option>
						  </md-select>
						</md-input-container>
			  	</div>
			  </div>

				<div class="row">
					<div class="col-xs-8 col-xs-offset-2">
							<md-button class="md-raised md-primary md-button md-ink-ripple full-width-btn" ng-click="searchFlights()">Search Flights</md-button>
					</div>
				</div>
			</form>

		</div> -->
	</div>
</div>




<div style="visibility: hidden">
  <div class="md-dialog-container" id="myStaticDialog">
    <md-dialog class="min-width350">
				<md-toolbar>
		      <div class="md-toolbar-tools">
		        <h2>Add Traveller</h2>
						<span>
							<md-button class="md-button secondary-btn close-dialog" ng-click="cancelDialog()">X</md-button>
						</span>
					</div>
				</md-toolbar>
				<md-dialog-content>
		      <div class="md-dialog-content travelcount-cnt">
		        <div class="row">
		        	<div class="col-xs-2">
		        		<img class="plusminus-img" src="./images/MINUS.png" alt="" ng-click="minus('adult')">
		        	</div>
							<div class="col-xs-8">
		        		<h4>{{adultCount}} Adults</h6>
		        	</div>
							<div class="col-xs-2">
		        		<img class="plusminus-img" src="./images/PLUS.png" alt="" ng-click="add('adult')">
		        	</div>
		        </div>
						<div class="row">
							<div class="col-xs-2">
		        		<img class="plusminus-img" src="./images/MINUS.png" alt="" ng-click="minus('child')">
		        	</div>
							<div class="col-xs-8">
								<h4>{{childCount}} Children</h6>
		        	</div>
							<div class="col-xs-2">
		        		<img class="plusminus-img" src="./images/PLUS.png" alt="" ng-click="add('child')">
		        	</div>
		        </div>
						<div class="row">
							<div class="col-xs-2">
		        		<img class="plusminus-img" src="./images/MINUS.png" alt="" ng-click="minus('infant')">
		        	</div>
							<div class="col-xs-8">
								<h4>{{infantCount}} Infants</h6>
		        	</div>
							<div class="col-xs-2">
		        		<img class="plusminus-img" src="./images/PLUS.png" alt="" ng-click="add('infant')">
		        	</div>
		        </div>
						<md-button class="md-primary md-button md-ink-ripple link-btn" ng-click="cancelDialog()">Done</md-button>
					</div>
				</md-dialog-content>

    </md-dialog>

  </div>
</div>
